@page
@model NetcoreTraining.Views.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}


<h1>Products</h1>
<h2>Razor Pages, get data from database</h2>

<div>
    @if (Model.Products.Count() > 0)
    {
        @foreach (var item in Model.Products)
        {
            <h4>@Html.DisplayFor(m => item.Name)</h4>
            <p>@Html.DisplayFor(m => item.Description)</p>
        }
    }
</div>